@{
    ViewBag.Title = "Home";
}

    <div class="banner">
        <div class="container">
            <div class="banner-bottom">
                <div class="banner-bottom-left">
                    <h2>E<br>N<br>J<br>O<br>Y</h2>
                </div>
                <div class="banner-bottom-right">
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider4">
                            <li>
                                <div class="banner-info">
                                    <h3 style="color:whitesmoke;">Fully Entertainment</h3>
                                    <p style="color:whitesmoke;">Entertainment at its Best...</p>
                                </div>
                            </li>
                            <li>
                                <div class="banner-info">
                                    <h3 style="color:whitesmoke;">Bluray Quality</h3>
                                    <p style="color:whitesmoke;">Ultimate Entertainment with Crystal Clear Video...</p>
                                </div>
                            </li>
                            <li>
                                <div class="banner-info">
                                    <h3 style="color:whitesmoke;">Enjoy with All</h3>
                                    <p style="color:whitesmoke;">Latest Movies Packed With Full Entertainment...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--banner-->
                    @*<script src="js/responsiveslides.min.js"></script>*@
                    <script src="~/Scripts/responsiveslides.min.js"></script>
                    <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
                    </script>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="shop">
                <a href="#">Download Latest Movies</a>
            </div>
        </div>
    </div>
    <!-- content-section-starts-here -->
    <div class="container">
    <div class="main-content">

        <div class="products-grid">
            <header>
                <h3 class="head text-center">Latest Products</h3>
            </header>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p1.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">Sed ut perspiciatis</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$329</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p2.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">great explorer</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$599.8</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p3.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">similique sunt</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$359.6</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p4.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">shrinking </a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$649.99</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p5.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">perfectly simple</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$750</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p6.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">equal blame</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$295.59</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p7.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">Neque porro</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$380</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p8.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">perfectly simple</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$540.6</span></a></p>
            </div>
            <div class="col-md-3 product simpleCart_shelfItem text-center">
                <a href="single.html"><img src="~/images/p9.jpg" height="250" width="100" alt="" /></a>
                <div class="mask">
                    <a href="single.html">Quick View</a>
                </div>
                <a class="product_name" href="single.html">praising pain</a>
                <p><a class="item_add" href="#"><i></i> <span class="item_price">$229.5</span></a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
    
    <!-- content-section-ends-here -->
    